@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";

button {
  cursor: pointer;
}

.btn__group {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: spacing("5");
  z-index: 101;
}

.btn {
  @include button;
  // display: flex;
  // flex-direction: row;
  // justify-items: center;
  // padding: spacing("2") spacing("4");
  // border: none;
  // font-size: font-size("base");
  // border-radius: 4px;
  // font-weight: 500;
  // cursor: pointer;
  // transition: all 150ms ease-in;
  &__icon {
    @include button;
  }

  // Loading spinner animation
  .loading-spinner {
    display: inline-block;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  &:disabled {
    opacity: 0.2;
  }

  svg {
    font-size: font-size("sm");
    margin-left: spacing("3");
  }

  &--primary {
    background-color: color("primary");
    color: color("white");

    &:hover {
      background-color: color.adjust(
        color("primary"),
        $lightness: -10%,
        $space: hsl
      );
    }
  }

  &--secondary {
    background-color: color("secondary");
    color: color("white");
  }

  &--sm {
    border-radius: 4px;
    padding: 0.2rem 0.8rem;
  }

  // Lime
  &--lime {
    color: black;
    background-color: color("lime");
    &:hover {
      background-color: brighter("lime", 5);
    }
  }
  &--lime-outline {
    color: color("lime");
    background-color: transparent;
    border: 1px solid color("lime");

    &:hover {
      color: black;
      background-color: color("lime");
    }
  }
}
