.tech-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .tech-item {
    background-color: white;
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    .tech-icon {
      font-size: 5rem;
    }
    &:hover::before {
      opacity: 1;
    }

    &::after {
      transition: all 3s ease-in-out;
    }

    &:hover {
      position: relative;
      color: white;
      // background-color: #5b46e5;
      // background-color: #f706cf;
      // z-index: 5;
      &::after {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #f706cf;
        border-radius: 10px;
      }
      &::before {
        content: "";
        background-color: #f706cf;
        z-index: -1;
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 900%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        border-radius: 10px;
        filter: blur(8px);
        transition: all 3s ease-in-out;
      }
    }
  }
}
