.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  gap: 15px;

  div {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    border: 1px solid #808080;
    padding: 1rem;
    border-radius: 1rem;
  }
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  h2 {
    padding-bottom: 0.4rem;
    margin-bottom: 2rem;
    border-bottom: 0.17rem solid black;
  }
}

.intro-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .intro-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .intro-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}

.connect-container {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

// .__card {
//   display: flex;
//   flex-direction: row;
//   height: 12rem;
//   width: 100%;
//   // align-items: center;
//   padding: 1.2rem;
//   box-shadow: 0px 5px 5px 0px rgba($color: #000000, $alpha: 0.3);
//   border: 1px solid rgba($color: #000000, $alpha: 0.18);
//   border-radius: 5px;
//
//   div {
//     width: 100%;
//   }
//
//   p {
//     margin: 0;
//   }
//
//   .__card-header {
//     width: 18rem;
//     p {
//       font-size: 1.1rem;
//     }
//
//     .job-company {
//       font-size: 1.3rem;
//       font-weight: 600;
//       color: rgba($color: #5b46e5, $alpha: 1);
//     }
//
//     .job-title {
//       font-weight: 700;
//     }
//   }
//
//   .__card-body {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//   }
// }

.__long-card {
  display: flex;
  flex-direction: row;
  height: 12rem;
  width: 100%;
  padding: 1.2rem;
  box-shadow: 0px 5px 5px 0px rgba($color: #000000, $alpha: 0.3);
  border: 1px solid rgba($color: #000000, $alpha: 0.07);
  border-radius: 5px;

  div {
    width: 100%;
  }

  p {
    margin: 0;
  }

  .__long-card-header {
    width: 19rem;

    p {
      font-size: 1.1rem;
    }

    .job-name {
      font-size: 1.5rem;
      font-weight: 700;
      color: rgba($color: #5b46e5, $alpha: 1);
    }

    .job-title {
      font-weight: 700;
    }

    .job-date {
      font-style: italic;
    }
  }

  .__long-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.badge-group-h {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.4rem;
  overflow-x: hidden;
}

.badge {
  padding: 0.1rem 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  // max-width: 5rem;
  color: #5b46e5;
  background-color: #e0e7ff;
  border: 1px solid #e0e7ff;
  border-radius: 3px;
}
