.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  h2 {
    padding-bottom: 0.4rem;
    margin-bottom: 2rem;
    color: white;
    // border-bottom: 0.17rem solid #2de2e6;
  }
}

.intro-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .intro-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .intro-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}

.connect-container {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}
