.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  gap: 15px;

  div {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    border: 1px solid #808080;
    padding: 1rem;
    border-radius: 1rem;
  }
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  h2 {
    padding-bottom: 0.4rem;
    margin-bottom: 2rem;
    border-bottom: 0.17rem solid black;
  }
}

.intro-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .intro-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    div {
      width: 50%;
    }
  }
}

.connect-container {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}
