.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  background-color: #1e0359;
  color: white;

  h2 {
    text-align: center;
    padding-bottom: 0.4rem;
    border-bottom: 2px solid white;
  }
}
.text-group-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 32rem;

  p {
    font-size: 1.3rem;
    text-align: center;
  }

  button {
    padding: 0.3rem 1rem;
    color: white;
    background-color: #5b46e5;
    border: 1px solid #5b46e5;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
