.form-wrapper {
  width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;
  border: 1px solid black;
  border-radius: 5px;
  background-image: linear-gradient(
    150deg,
    #f706cf -100%,
    #1f035c 45% 100% // #f706cf 100% 190%
  );
  border: 1px solid #f706cf;
  color: white;
  box-shadow: 0px 5px 5px 0px rgba($color: #000000, $alpha: 0.3);

  h3 {
    width: 100%;
    font-weight: 600;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  label {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  input,
  textarea {
    color: #f706cf;
    border: 1px solid #f706cf;
    background-color: #1f035c;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
  }

  input:focus,
  textarea:focus {
    outline: 2px solid #f744ff;
    color: #f706cf;
    border: 1px solid #f706cf;
    background-color: #1f035c;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
  }

  // input:placeholder-shown,
  // textarea:placeholder-shown {
  //   color: #f706cf;
  // }
}
.btn-group {
  margin-top: 1.5rem;

  button {
    color: #f706cf;
    background-color: transparent;
    padding: 0.2rem 0.8rem;
    border: 1px solid #f706cf;
    border-radius: 3px;
    transition: all 300ms ease-in-out;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: #f706cf;
    }
  }
}
