.footer {
  margin-top: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  color: white;
  background-color: #222;

  p {
    font-size: 1.1rem;
    margin: 0;
  }
}
