.moving-dots {
  // background-image: linear-gradient(140deg, #160240 0%, #0b011f 45% 100%);
  // border-bottom: 1px solid purple;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  // background-image:
  //   /* Layer 1: Cyan dots */
  //   radial-gradient(circle, rgba(11, 0, 205, 0.5) 1.5px, transparent 2.5px),
  //   /* Layer 2: Pink dots */
  //     radial-gradient(circle, rgba(115, 0, 203, 0.5) 2px, transparent 3px);
  // background-size:
  //   35px 35px,
  //   /* Spacing for cyan dots */ 50px 50px; /* Spacing for pink dots */
  // opacity: 0.6; /* Overall opacity of the dots layer */
  // z-index: 0;
  // // animation: animateMovingDots 10s linear infinite; /* Updated animation */
  // animation: particles;
  overflow: hidden;
}

.particle {
  // background-color: green;
  background-color: #1e0359;
  position: absolute;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
  z-index: 100;
}

@keyframes particles {
}

/* Keyframes for moving dots animation */
@keyframes animateMovingDots {
  0% {
    /* Initial position for both dot layers (cyan, pink) */
    background-position:
      0 0,
      0 0;
  }
  100% {
    /* Cyan dots scroll left and down by their spacing */
    /* Pink dots scroll right and up by their spacing for parallax */
    background-position:
      -35px 35px,
      50px -50px;
  }
}
