@use "../abstracts/variables" as *;
@use "../abstracts/_functions.scss" as *;
@use "../abstracts/mixins" as *;

.footer {
  font-size: font-size("xs");
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  color: color("white");
  background-color: transparent;
  border-top: 1px solid color("dark");

  p {
    font-size: 1.1rem;
    margin: 0;
  }
}
