@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";

.section-header-left {
  text-align: center;
  margin-bottom: 1.6rem;
  text-align: center;
  color: color("lime");
}

.section-header-center {
  text-align: center;
  margin-bottom: 1.6rem;
  text-align: center;
  color: color("lime");
  text-decoration-line: underline;
  text-underline-offset: 0.8rem;
}

.section-header-right {
  text-align: center;
  margin-bottom: 1.6rem;
  text-align: center;
  color: color("lime");
}

.section-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
}

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
