@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";

.section-header-left {
  margin-bottom: 1.6rem;
  text-align: center;
  color: color("lime");
  text-align: left;
}

.section-header-center {
  color: color("lime");
  margin-bottom: 1.8rem;
  text-decoration-line: underline;
  text-underline-offset: 0.4rem;
  text-align: center;
}

.section-header-right {
  margin-bottom: 1.6rem;
  color: color("lime");
  text-align: right;
}

.section-body-center {
  width: 100%;
  display: flex;
  gap: 1.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .container-center {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }
