.banner-container {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;

  .banner-subtext {
    font-size: 1.1rem;
    width: 32rem;
    text-align: center;
  }
}
