@use "../abstracts/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-image:
    // radial-gradient(rgba(255, 255, 255, 0.09) 2px, transparent 0),
    radial-gradient(circle, #0d0021, #0d0221);
  background-size:
    50px 50px,
    100% 100%;
  background-position:
    0 0,
    0 0;
}

body {
  font-family: $font-family-base;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

section {
  // padding: 2rem 4rem;
  padding: 4rem;
}
