@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: font-size("4xl");
}

h2 {
  font-size: font-size("3xl");
}

h3 {
  font-size: font-size("2xl");
}

h4 {
  color: color("lime");
  font-size: font-size("xl");
}

p {
  margin-bottom: spacing("0");
}

a {
  text-decoration: none;
}

li {
  list-style-position: inside;
}

.sub-header {
  color: color("lime");
  text-align: left;
  margin-bottom: spacing("6");
  text-decoration-line: underline;
  text-underline-offset: 0.6rem;
}

.subtext-left {
  text-align: left;
  font-size: font-size("2xl");
}

.subtext-center {
  text-align: center;
  font-size: font-size("2xl");
}

.subtext-right {
  text-align: right;
  font-size: font-size("2xl");
}

.white {
  color: white;
}

.lime {
  color: color("lime");
}

.primary {
  color: color("primary");
}
